@model MoviesDBManager.Models.MailFormView

@{
    ViewBag.Title = "GroupEmail";
}

<h2>Envoi de courriel</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="formLayout">
        <div>@ViewBag.Message</div>
        <fieldset>
            <div class="legend">@Html.Label("Destinataires")</div>
            <fieldset>
                @foreach (MoviesDBManager.Models.User user in ViewBag.GroupEmail)
                {
                    string fullName = user.FirstName + ' ' + user.LastName;

                    <div style="display: grid; grid-template-columns: 45px auto 1fr; margin-left:1px; margin-top: 8px; margin-bottom: 8px;align-items:center">
                        @Html.CheckBoxFor(model => user.IsSelected, new { @checked = "checked" })
                        @Helper.Image(user.Avatar, "UserSmallAvatar")
                        @Html.Label("user.IsSelected", fullName)
                    </div> <br />
                }
            </fieldset>
        </fieldset>
        <fieldset>
            <div class="legend">@Html.Label("Courriel")</div>
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Subject) } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

            @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => "Bonjour ") } })
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        </fieldset>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script defer>
        function validateSelection() {
            let oneSelected = false;
            $("input[type='checkbox'][name='SelectedUsers']").each(function () {
                if ($(this).prop('checked')) oneSelected = true;
            });
            if (!oneSelected)
                $("#Error_SelectedUsers").css("display", "inline");
            else
                $("#Error_SelectedUsers").css("display", "none");
            return oneSelected;
        }
        $("input[type='checkbox'][name='SelectedUsers']").change(function () { validateSelection(); });
        $("form").submit(function () {
            return validateSelection();
        })
        $("#SelectAll").click(function () {
            $("input[type='checkbox'][name='SelectedUsers']").each(function () { $(this).prop('checked', true) });
            validateSelection();
            return false; // prevent form submit
        })
        $("#DeSelectAll").click(function () {
            $("input[type='checkbox'][name='SelectedUsers']").each(function () { $(this).prop('checked', false) });
            validateSelection();
            return false; // prevent form submit
        })
    </script>
}